@model IEnumerable<UniFlowGW.Models.BindUser>

@{
    ViewData["Title"] = "用户账户";
    Layout = "_LayoutAdmin";
}

<h2>用户账户</h2>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@


<form asp-method="get" class="form-inline">
    <div class="form-actions">
        <p>
            查询用户:
            <div class="input-group">
                <input type="search" class="form-control" name="q" value="@ViewBag.Query" />
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
            <span class="pull-right">
                | <a asp-action="Account">全部数据</a>
            </span>
        </p>
    </div>
</form>

<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>
                <a asp-action="Account"
                   asp-route-s="@nameof(BindUser.BindTime)"
                   asp-route-d="@ViewBag.NextDirectionTime"
                   asp-route-cq="@ViewBag.Query"
                   asp-route-p="@ViewBag.PageIndex">
                   绑定时间
                    @ViewBag.MarkTime
                </a>
            </th>
            <th>
                <a asp-action="Account"
                   asp-route-s="@nameof(BindUser.UserLogin)"
                   asp-route-d="@ViewBag.NextDirectionUserID"
                   asp-route-cq="@ViewBag.Query"
                   asp-route-p="@ViewBag.PageIndex">
                   用户名
                    @ViewBag.MarkUserID
                </a>
            </th>
            <th>
                绑定账号
            </th>
            <th>
                绑定类型
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var rows = item.ExternBindings.Count;
            if (rows == 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BindTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserLogin)
                    </td>
                </tr>
            }
            else
            {
                for (int i = 0; i < rows; i++)
                {
                    if (i == 0)
                    {
                        <tr>
                            <td rowspan="@rows">
                                @Html.DisplayFor(modelItem => item.BindTime)
                            </td>
                            <td rowspan="@rows">
                                @Html.DisplayFor(modelItem => item.UserLogin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExternBindings[i].ExternalId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExternBindings[i].Type)
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExternBindings[i].ExternalId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExternBindings[i].Type)
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>

@{
    var prevDisabled = !ViewBag.HasPrevPage ? "disabled" : "";
    var nextDisabled = !ViewBag.HasNextPage ? "disabled" : "";
}

<div>
    <span class="pull-right">
        @if (!string.IsNullOrEmpty(ViewBag.Query))
        {
            <span>匹配: @ViewBag.Count |</span>
        }
        总记录: @ViewBag.Total
    </span>
    <a asp-action="Account"
       asp-route-s="@ViewBag.Sort"
       asp-route-d="@ViewBag.Direction"
       asp-route-cq="@ViewBag.Query"
       asp-route-p="1"
       class="btn btn-default @prevDisabled">
        首页
    </a>
    <a asp-action="Account"
       asp-route-s="@ViewBag.Sort"
       asp-route-d="@ViewBag.Direction"
       asp-route-cq="@ViewBag.Query"
       asp-route-p="@(ViewBag.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        上一页
    </a>
    @ViewBag.PageIndex / @ViewBag.PageCount
    <a asp-action="Account"
       asp-route-s="@ViewBag.Sort"
       asp-route-d="@ViewBag.Direction"
       asp-route-cq="@ViewBag.Query"
       asp-route-p="@(ViewBag.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        下一页
    </a>
    <a asp-action="Account"
       asp-route-s="@ViewBag.Sort"
       asp-route-d="@ViewBag.Direction"
       asp-route-cq="@ViewBag.Query"
       asp-route-p="@(ViewBag.PageCount)"
       class="btn btn-default @nextDisabled">
        尾页
    </a>
</div>
